{% extends 'model-page.html' %}
{% block content %}
<head>
    <style>
    .estrelas input[type=radio] {
    display: none;
    }
    .estrelas label i.fa:before {
    content:'\f005';
    color: #009688;
    }
    .estrelas input[type=radio]:checked ~ label i.fa:before {
     color: #CCC;
    }



    </style>
</head>
<main class="app-content">

    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>Avaliando Profissional</h1>
            <p>Avaliar</p>
        </div>
    </div>

    {% if avaliacao is None %}
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="row">
                    <div class="col-lg-12">
                        <form method="post" action="{% url 'avaliacao:avaliar' perfil.id %}" class="form">
                            {%csrf_token %}
                            <div class="row">

                                <div id="show_class" class="col-lg-12">
                                    <div class="form-group">
                                        <label for="id_texto">Avaliar:</label>
                                        <link rel="stylesheet"
                                              href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                                        <div class="estrelas">
                                            <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                                            <label for="cm_star-1"><i class="fa"></i></label>
                                            <input type="radio" id="cm_star-1" name="fb" value="1"/>
                                            <label for="cm_star-2"><i class="fa"></i></label>
                                            <input type="radio" id="cm_star-2" name="fb" value="2"/>
                                            <label for="cm_star-3"><i class="fa"></i></label>
                                            <input type="radio" id="cm_star-3" name="fb" value="3"/>
                                            <label for="cm_star-4"><i class="fa"></i></label>
                                            <input type="radio" id="cm_star-4" name="fb" value="4"/>
                                            <label for="cm_star-5"><i class="fa"></i></label>
                                            <input type="radio" id="cm_star-5" name="fb" value="5"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="id_texto">Deixe seu comentario:</label>
                                        <label for="id_texto">{{usuario.username}}</label>
                                        <textarea name="descricao" cols="140" rows="5" class="form-control"
                                                  required="" id="id_texto"
                                                  placeholder="Deixe seu comentario aqui!"></textarea>
                                    </div>


                                    <div class="tile-footer">
                                        <button class="btn btn-primary" id="demoNotify" type="submit">Avaliar</button>
                                    </div>
                                </div>

                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}

