{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<head>
    <style>
    .estrelas input[type=radio] {
    display: none;
    }
    .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
    }
    .estrelas input[type=radio]:checked ~ label i.fa:before {
     color: #CCC;
    }


    </style>
</head>
<main class="app-content">

    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>Avaliação Profissional</h1>
            <p>Deixe sua Avaliação!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% include 'parciais/_mensagges.html' %}
            <div class="tile">
                <div class="row">
                    <div class="col-lg-12">

                        <form method="post" action="{% url 'avaliacao:avaliacao' profissional.user.id %}" class="form">
                            {%csrf_token %}


                            <div id="show_class" class="col-lg-12">
                                <div class="form-group">
                                    <label id="id_texto" for="id_texto">Deixe sua nota:</label>
                                    <link rel="stylesheet"
                                          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                                    <div class="estrelas">
                                        <input type="radio" id="cm_star-empty" name="nota" value="" checked/>
                                        <label for="cm_star-1"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-1" name="nota" value="1"/>
                                        <label for="cm_star-2"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-2" name="nota" value="2"/>
                                        <label for="cm_star-3"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-3" name="nota" value="3"/>
                                        <label for="cm_star-4"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-4" name="nota" value="4"/>
                                        <label for="cm_star-5"><i class="fa"></i></label>
                                        <input type="radio" id="cm_star-5" name="nota" value="5"/>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div id="div_id_descricao" class="form-group"><label for="id_descricao" class="">
                                        <label for="id_texto">Deixe seu comentário para:</label>
                                        <label for="id_texto">{{profissional.user.first_name}}</label>
                                    </label>
                                        <div class=""><textarea name="descricao" maxlength="250"
                                                                class="textinput textInput form-control" id="id_descricao" rows="3"></textarea>
                                        </div>
                                    </div>


                                    <input type="hidden" name="cliente" id="id_cliente" value={{request.user.id}}>

                                    <input type="hidden" name="profissional" id="id_profissional"
                                           value={{profissional.user.id}}>

                                </div>
                                <div class="tile-footer">
                                    <button class="btn btn-primary" type="submit" title="Avaliar">Avaliar</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}

