{% extends 'base.html' %}

{% block content %}
<style>
    .estrelas input[type=radio] {
    display: none;
    }
    .estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
    }
    .estrelas input[type=radio]:checked ~ label i.fa:before {
     color: #CCC;
    }
}


</style>
<main class="app-content">

    <div class="app-title">
        <div>
            <h1><i class="fa fa-star-o"></i> Avaliações do Profissional
            </h1>
            <!--Total de Avaliações ({{total_pessoas}}) média {{media.avg_rating|floatformat:1}}-->

        </div>
    </div>
      {% include 'parciais/_mensagges.html' %}

    <div class="container d-flex justify-content-center mt-100">
        <div class="row">
            <div class="col-md-200">
                <div class="card">
                    <div class="card-body text-center"><span class="myratings">Nota: {{media.avg_rating|floatformat:1}}</span>
                        <p class="mt-1">{{total_pessoas}} avaliações</p>

                         {% if media.avg_rating  >= 1.0 and media.avg_rating <= 1.9 %}
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                {% endif %}

                        {% if media.avg_rating  >= 2.0 and media.avg_rating <= 2.9 %}
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50" >
                                            <polygon fill="#c0c0c0" style="width: 10%"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                {% endif %}
                        {% if media.avg_rating  >= 3.0 and media.avg_rating <= 3.9 %}

                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>


                        {% endif %}

                        {% if media.avg_rating  >= 4.0 and media.avg_rating <= 4.9 %}

                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>



                        {% endif %}

                         {% if media.avg_rating  >= 5  %}

                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                         {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row user">

        {% for avaliacao in avaliacao %}
        <div class="col-md-4">
            <div class="tab-content">
                <div class="tab-pane active" id="user-timeline">
                    <div class="timeline-post" style="max-height: 200px; left:500;">
                        <div class="post-media"> <!--width: 300px; height: 200px;-->

                            <div class="product-img">
                                {% if avaliacao.cliente.imagem %}
                                <img width="50"
                                     src="{{avaliacao.cliente.imagem.url}}">
                                {% else %}
                                <img width="50"
                                     src="https://static.vecteezy.com/ti/vetor-gratis/p1/2318271-icone-do-perfil-do-usuario-gr%C3%A1tis-vetor.jpg">

                                {% endif %}
                            </div>

                            <div class="content">
                                <h5><a href="#"></a>{{avaliacao.cliente.username}}</h5>
                                <p class="text-muted"><small>Nota: {{avaliacao.nota}}, {{avaliacao.data_created}}</small>
                                </p>

                               <div class="post-content">
                                    <!--<p> Nota: {{avaliar.nota}}</p>-->
                                    <link rel="stylesheet"
                                          href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
                                    <div class="estrelas">

                                         <!--<svg height="22" viewBox="35 0 50 50">
                                            <polygon fill="#000" stroke="#f2c832" stroke-linecap="20"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>-->

                                        {% if avaliacao.nota == 1 %}
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        {% endif %}
                                        {% if avaliacao.nota == 2 %}
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22"  viewBox="0 0 50 50">
                                            <polygon  fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        {% endif %}

                                         {% if avaliacao.nota == 3 %}

                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                         {% endif %}

                                          {% if avaliacao.nota == 4 %}
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#c0c0c0"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         {% endif %}

                                          {% if avaliacao.nota == 5 %}

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>
                                         <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        <svg height="22" viewBox="0 0 50 50">
                                            <polygon fill="#f2c832"
                                                     points="25,3.553 30.695,18.321 46.5,19.173
                                                     34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321">

                                            </polygon>
                                        </svg>

                                        {% endif %}

                                        <!-- Button trigger modal -->
                                        &nbsp;&nbsp;&nbsp;<button type="button" class="badge badge-primary" data-toggle="modal"
                                                data-target="#exampleModal{{avaliacao.id}}" title="Detalhes">
                                            <i class="fa fa-eye"></i>
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal{{avaliacao.id}}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel{{avaliacao.id}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel{{avaliacao.id}}">Detalhe da Avaliação</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{avaliacao.descricao}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal" title="Fechar">Fechar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>{{avaliacao.descricao|truncatechars_html:30}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-md-12">
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> Nenhuma Avaliação encontrada!</div>
        </div>

        {% endfor %}
    </div>

    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
            {% for pagina in avaliacao.paginator.page_range %}
            {% if avaliacao.number == pagina %}
            <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

</main>
{% endblock %}
