{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="app-content">

     <div class="app-title">
        <div>
            <h1><i class="fa fa-id-badge"></i> Adicionar Profissional</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          {% include 'parciais/_mensagges.html' %}
            <div class="tile">
                <div class="row">
                    <div class="col-lg-12">
                          <form action="." method="POST" enctype="multipart/form-data">
                            {%csrf_token %}

                            {% if error %}
                                <div class="alert alert-danger">{{ error.error }}</div>
                            {% endif %}
                              <br/>


                               <!--{{form|crispy}}-->


                                  <div id="div_id_profissao" class="form-group"><label for="id_profissao">
                                      Profissão<span class="asteriskField">*</span> </label>
                                      <div class=""><input type="text" name="profissao" maxlength="250"
                                                           class="textinput textInput form-control "
                                                           required="" id="id_profissao">
                                          </div>
                                  </div>
                                  <div id="div_id_categoria" class="form-group"><label for="id_categoria"
                                                                                       >
                                      Categoria<span class="asteriskField">*</span> </label>
                                      <div class=""><select name="categoria"
                                                            class="selectmultiple form-control " required=""
                                                            id="id_categoria" multiple="">
                                          <option value="1">eventos</option>

                                      </select>
                                          <p id="error_1_id_categoria" class="invalid-feedback"><strong>Este campo é
                                              obrigatório.</strong></p></div>
                                  </div>

                                  <div id="div_id_descricao" class="form-group"><label for="id_descricao"
                                                                                       class=" requiredField">
                                      Descrição<span class="asteriskField">*</span> </label>
                                      <div class=""><input type="text" name="descricao" maxlength="250"
                                                           class="textinput textInput form-control"
                                                           required="" id="id_descricao">
                                          <p id="error_1_id_descricao" class="invalid-feedback"><strong>Este campo é
                                              obrigatório.</strong></p></div>
                                  </div>
                                  <div id="div_id_imagem" class="form-group"><label for="id_imagem" class="">
                                      Imagem
                                  </label>
                                      <div class=""><input type="file" name="imagem" accept="image/*"
                                                           class="clearablefileinput form-control-file" id="id_imagem">
                                      </div>
                                  </div>

                              <div class="tile-footer">
                                  <button class="btn btn-primary" type="submit" title="Salvar">Salvar</button>
                              </div>

                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock %}