{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<main class="app-content">
    {% include 'parciais/_mensagges.html' %}
    <div class="app-title">
        <div>
            <h1><i class="fa fa-user-circle"></i> Dados Pessoais</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <div class="card-body">
                        <form method="post" action="{% url 'usuario:dadosPessoais' usuario.id %}" enctype="multipart/form-data">
                            {% csrf_token %}

                                {{ form|crispy }}




                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-success" title="Atualizar">Atualizar</button>
                                    <button type="submit" class="btn btn-danger" title="Cancelar">Cancelar</button>
                                </div>

                            </div>
                        </form>

                    </div>


                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>

</main>
{% endblock %}