{% extends 'base.html' %}
{% block content %}

<main class="app-content">
    {% include 'parciais/_mensagges.html' %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card user-card-full">
                <div class="row m-l-0 m-r-0">
                    <!--*******************************************-->
                    <div class="col-sm-4 bg-c-lite-green user-profile">
                        <div class="card-block text-center text-white">
                            <div class="m-b-55">
                                {% if perfil.imagem %}
                                <img src="{{ perfil.imagem.url }}" class="img-fluid"  alt="User-Profile-Image"
                                style="max-width: 190px; height: auto">
                                 {% endif %}
                            </div>

                            <p>{{ perfil.user.first_name }}</p> <i
                                class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                        </div>
                    </div>
                    <!--***************************************-->

                    <div class="col-sm-8">
                        <div class="card-block">
                            <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informações Profissionais</h6>


                                  <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Nome</p>
                                            <h6 class="text-muted f-w-400">{{ perfil.user.email}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{ perfil.user.username }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Telefone</p>
                                            <h6 class="text-muted f-w-400">{{ perfil.profissao }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Cidade</p>
                                            <h6 class="text-muted f-w-400">{{ perfil.user.cidade }}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Descrição</p>
                                            <h6 class="text-muted f-w-400">{{ perfil.decricao }}</h6>
                                        </div>
                                    </div>
                            <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="m-b-10 f-w-600"></p>

                                    <div class="col">
                                        <span id="id-perfil" hidden>{{ perfil.user.id }}</span>
                                        <a onclick="save_id_perfil()" class="btn btn-primary block" id="enviar-mensagem-perfil"
                                          href="#">Mensagem</a>

                                        <a class="btn btn-primary block"
                                           href="{% url 'avaliacao:avaliacao' perfil.user.id %}">Avaliar</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>

</main>
{% endblock %}