{% extends 'base.html' %}
{% block content %}

<main class="app-content">
           {% include 'parciais/_mensagges.html' %}

   <div class="row center-element">

        <form method="GET">
            {%csrf_token %}
            <h2> Pesquise pelo serviço desejado com rapidez e eficiência!</h2>
            <br />
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" id="profissao" class="form-control" name="profissao"
                                   placeholder="Digite o serviço que você precisa">
                            <span class="input-group-btn" id="clear-input-profissao">
                            </span>
                            <div class="pl-2">
                                <input type="text" id="destino" class="form-control" name="destino"
                                       placeholder="Cidade" required>

                                <div class="row pl-3">
                                    <div id="destino_list"></div>
                                </div>
                            </div>
                            <div class="pl-2">
                                <span class="input-group-btn " id="clear-input-destino">
                                    <a onclick="clearInputDestino()"
                                       class="btn btn-primary">
                                        <i
                                                class="fa fa-trash" style="color: #fff"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="pl-2">
                                <button type="submit" value="Buscar" class="btn btn-primary">
                                    <em
                                            class="fa fa-search"
                                            aria-hidden="true"></em> Buscar
                                </button>
                            </div>
                        </div>
                        <div id="profissional_list"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-xs-1">
                <div class="form-group">
                    <div style="padding: 3px; height: auto;">

                    </div>

                </div>
            </div>

        </form>
    </div>

    <div class="clearfix"></div>

</main>
{% endblock %}