{% extends 'base.html' %}
{% block content %}

<main class="app-content">
    {% include 'parciais/_mensagges.html' %}
    <div class="row">
        <div class="col-lg-12">
            {% if 'profissional' not in request.path %}
            <form method="get" action="{% url 'usuario:buscar' %}">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control"
                               type="search" value="{{ request.GET.termo }}"
                               id="search-input"
                               placeholder="Digite sua pesquisa"
                               name="termo">
                    </div>
                </div>
            </form>
            {% endif %}
            <br/>
            <br/>
            <div class="card-columns">
                {% for profissional in profissional %}
                <div class="card col-18" style="width: 18rem;">
                    {% if profissional.imagem %}
                    <a href="{{ profissional.slug }}">
                        <img class="rounded " src="{{ profissional.imagem.url  }}" alt="{{ profissional.profissao }}"
                             style="width: 288px; height: 200px; object-fit: fill;">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <a href="{{ profissional.slug }}">
                            <h5 class="card-title">{{ profissional.profissao }} </h5></a>
                        <p>{{profissional.user.first_name}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <nav aria-label="Navegação de página exemplo">
  <ul class="pagination">
      {% for pagina in profissional.paginator.page_range %}
        {% if profissional.number == pagina %}
          <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
        {% endif %}
  {% endfor %}
  </ul>
</nav>

    <div class="clearfix"></div>
</main>
{% endblock %}