{% if List is not None %}
<div class="col-md-12">
    <div class="tile">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Profissão</th>
                    <th>Cidade</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                    {% for usuario in List %}
                    <tr>

                    <!--<td><img src="{{ usuario.foto.url }}" style="width: 95px"></td>-->
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.perfil.nome}}</td>
                    <td>{{usuario.cidade}}</td>
                    <td>
                        <div class="col-md-4 col-xs-3">
                            <button title="Visualizar Perfil" class="btn btn-outline-primary">
                                <a  style="all: unset;"
                                   href="{% url 'usuario:Profissional' usuario.id %}"
                                   type="submit">
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                        <i class="fa fa-eye"></i>
                                    </font></font>
                                </a>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
                 {% empty %}
                     <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ message }}</div>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endif %}